

#navbar{
display: flex;
background-color: lightseagreen;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;

}

.links{
    display: flex;
    margin-left:50px ;
    margin-bottom: ;

    ;
}

.link1{

    margin-left: px;
}

.link2{
    margin-left: 200px;
}

.link3{

    margin-left: 200px;
}

.link4{

    margin-left: 200px;
}

nav ul li {
    list-style: none;
    display: flex;
    text-decoration-line: none;
}


form{
margin-top: 18px;
margin-left: 150px;
display: flex;

}


input{
    width: 500px;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
    border: solid black;
    background: transparent;
}

.bruh{

    display: flex;
}

#bar{

    display: flex;
}

.search{

    margin-left:250px ;
}

ul li :hover{

    color: aqua;
    transition: 0.5s;
}

#intro{
 
  background-color: black;
  border-radius: 30px;
  height: 100px;
}

.image1{

    height: 400px;
    width:300px ;
    border-radius: 30px;
    
}

.image1:hover{
    box-shadow: 0px 8px 20px rgb(170, 11, 11);
}

body{
    background-color: black;
}

.trendingnow{

    margin-top: 50px;
    display: flex;
    gap: 100px;
}

.image2{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.image3{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

#trending{

    margin-top: 100px;
}

.image4{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.image5{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.image6{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.image0{
    width: 1400px;
    height: 500px;
}

.image7{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.image8{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.image9{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.image10{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.image11{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.action{

    margin-top: 50px;
    gap: 100px;
    display: flex;
}

.image12{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.image13{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.image14{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.image15{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.image16{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.image17{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.image18{

    height: 400px;
    width:300px ;
    border-radius: 30px;
}

.horror{

    margin-top: 50px;
    gap: 100px;
    display: flex;
}
#footer{
   background-color: lightseagreen;
}